---
const path = Astro.url.pathname;
const basePath = import.meta.env.BASE_URL || "/";
---

<div class="mobile-wrapper">
  <div class="mobile__nav">
    <div class="content">
      <div class="close" id="mobile-close">
        <img src={`${basePath}assets/shared/icon-close.svg`} alt="Close" />
      </div>
    </div>
  </div>
  <nav class="mobile__content">
    <a
      href=`${basePath}`
      data-astro-prefetch
      class=`item ${(path == basePath) ? "active" : ""}`
    >
      <div class="text">
        <span class="text-preset-8-bold">00</span>
        <p class="text-preset-8">HOME</p>
      </div>
    </a>
    <a
      href={`${basePath}${path.startsWith(`${basePath}destinations`) ? "#" : "destinations/moon"}`}
      data-astro-prefetch
      class={`item ${path.startsWith(`${basePath}destinations`) ? "active" : ""}`}
    >
      <div class="text">
        <span class="text-preset-8-bold">01</span>
        <p class="text-preset-8">DESTINATION</p>
      </div>
    </a>
    <a
      href={`${basePath}${path.startsWith(`${basePath}crew`) ? "#" : "crew/commander"}`}
      data-astro-prefetch
      class={`item ${path.startsWith(`${basePath}crew`) ? "active" : ""}`}
    >
      <div class="text">
        <span class="text-preset-8-bold">02</span>
        <p class="text-preset-8">CREW</p>
      </div>
    </a>
    <a
      href={`${basePath}${path.startsWith(`${basePath}technology`) ? "#" : "technology/launch-vehicle"}`}
      data-astro-prefetch
      class={`item ${path.startsWith(`${basePath}technology`) ? "active" : ""}`}
    >
      <div class="text">
        <span class="text-preset-8-bold">03</span>
        <p class="text-preset-8">TECHNOLOGY</p>
      </div>
    </a>
  </nav>
</div>
<div class="mobile__backdrop"></div>
